.customer {
  width: 100%;
  background-color: #007185;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  font-family: sans-serif;
}

.header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #007185;
  font-weight: 400;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  color: #fff;
  padding: 0px 2%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.header a {
  padding: 0px 25px;
  border-left: 1.5px solid #fff;
  font-size: 18px;
  margin: 0px 30px;
  color: #fff;
}

.header h3{
  margin-left: 50px;
}

.header h3:hover {
  cursor: pointer;
  text-decoration: underline;
}

.page_container {
  width: 84%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  padding: 50px 0px;
  color: #fff;
}

.page_container > h1 {
  font-size: 34px;
  font-weight: 300;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: -10px 0px 20px 0px;
}

.page_container > p{
  margin: 0px 0px 20px 0px;
}

.flexbox {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 25vw;
  height: 100px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  margin: 5px 10px;
  padding: 0px 20px;
  border-radius: 7px;
  color: #0f1111;
  font-weight: 500;
  transition: 150ms ease-in;
  font-size: 100%;
}

.box img {
  width: 20%;
  object-fit: cover;
}

.box p {
  padding: 0px 15px;
}

.box:hover {
  cursor: pointer;
  background-color: #f8f8f8;
  transition: 150ms ease-in;
}

.questions {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: grid;
  place-items: center;
  background-color: #f7fafa;
}

.input {
  width: 83%;
  height: 80px;
  margin: 30px auto;
  font-weight: 600;
}

.input input {
  flex: 1;
  text-indent: 10px;
  height: 31px;
  margin: auto;
  outline: none;
  border: none;
  color: #0f1111;
  font-weight: 300;
  font-size: 15px;
}

.input form {
  width: 100%;
  height: 5vh;
  margin-top: 1%;
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #202222;
  border-radius: 5px;
}

.input svg {
  margin: 0px 10px;
}

.container {
  width: 90%;
  min-height: 90vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* background-color: #48fafa; */
  margin: 0px 0px 0px 40px;
}

.tabs {
  width: 18vw;
  height: 70vh;
  display: grid;
  place-items: center;
}

.help_tab {
  width: 100%;
  height: 6vh;
  color: #111111;
  /* font-size: 100%; */
  font-weight: 650;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.help_tab:hover {
  background-color: #ddd;
  border-radius: 4px;
  color: #111111;
}

.onClick_div {
  width: 94%;
  height: 100%;
  min-height: 40vh;
  max-height: 80vh;
  display: flex;
  flex-wrap: wrap;
}
.help_topic:hover {
  background-color: #f7fafa;
}
.help_topic {
  width: 40%;
  min-height: 12vh;
  background-color: #ffffff;
  border: 1px solid #dddd;
  list-style-type: none;
  padding: 8px 15px;
  border-radius: 6px;
  margin: 15px 0px 0px 30px;
  cursor: pointer;
}

.help_topic h3 {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .8px;
}
.help_topic p {
  margin: 2vh 0;
  font-size: 13px;
  font-weight: 300;
  color: #767676;
}

::selection {
  color: #F7FAFA;
  background-color: #008296;
}