.footer {
  width: 100%;
  min-height: 1017px;
  display: flex;
  flex-direction: column;
  background: #232f3e;
}

.back_to button {
  width: 100%;
  height: 50px;
  background-color: #3f5168;
  font-size: 18px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}

.footer_container {
  width: 60%;
  margin: 0px auto;
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
  color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer_title {
  padding-bottom: 10px;
  font-weight: 900;
  letter-spacing: 1px;
}

.footer_item {
  list-style: none;
  padding: 5px 0px;
  color: #f5f4f4;
}

.footer_item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.footer_bottom {
  width: 100%;
  min-height: 60vh;
  background-color: #1e252f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer_bottom_container {
  width: 60%;
  min-height: 36vh;
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin: 80px auto;
}

.collection_item p {
  font-size: 11px;
  color: #999999;
}

.collection_item h4 {
  color: #ddd;
  width: auto;
  font-size: 13px;
}

.collection_item {
  width: 70%;
  list-style-type: none;
  cursor: pointer;
  margin: 0px 15px 10px 15px;
}

.collection_item:hover h4 {
  text-decoration: underline #ddd;
}

.collection_item:hover p {
  text-decoration: underline #999;
}

.copy {
  width: 55vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 5vh;
}

.copyrights {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  list-style: none;
  cursor: default;
  color: #ddd;
  font-weight: 700;
}

.copyrights:hover {
  text-decoration: underline #ddd;
}

@media screen and (max-width: 1500px) {

    .footer_title {
        font-size: 13px;
        font-weight: 600;
    }
    .footer_item {
        font-size: 11px;
    }

    .footer_bottom_container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        background-color: #999999;
        padding: 0px 40%;
    }

    .collection_item {
        width: 80px;
        background-color: #3f5168;
        margin: 0px 8px 8px 8px;
    }

    .collection_item h4 {
        font-size: 12px;
    }
    .collection_item p {
        font-size: 10px;
    }

    .copyrights li {
        font-size: 10px;
    }
}
